/* src/App.css */
.main-content {
  flex: 1;
  height: 100%;
  background-color: var(--calcite-color-background);
}

/* ShellPanel feste Breite 420px */
calcite-shell-panel {
  --calcite-shell-panel-width: 420px;
  --calcite-shell-panel-max-width: 420px;
  --calcite-shell-panel-min-width: 420px;
}

/* calcite-panel {
  background: red !important;
  --calcite-panel-background-color: yellow !important;
  --calcite-color-foreground-1: green !important;
  --calcite-ui-foreground-1: blue !important;
} */

